FLASK_APP=core
FLASK_ENV=development
SERVER_NAME=localhost:5000
REDIS_HOST=172.0.0.1
REDIS_PASSWORD=my_redis_password
SLACK_BOT_TOKEN=slack_token
SLACK_SEND_MESSAGES=False
CELERYD=60
URL_SCHEME=http
SECRET_KEY=NOT_SECURE_SECRET_KEY
CONFIRMATION_KEY=NOT_SECURE_CONFIRMATION_KEY
SESSION_USE_SIGNER=True
SESSION_KEY_PREFIX=my_session_
DBUSER=myuser
DBPASS=mypass
DBNAME=mydb
DBHOST=192.0.0.1
DBPORFT=5432
SQLALCHEMY_INCLUDE_SCHEMAS=True
SQLALCHEMY_POOL_SIZE=30
SQLALCHEMY_POOL_TIMEOUT=15
SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_RECORD_QUERIES=True
SQLALCHEMY_ECHO=False
DATABASE_CONNECT_OPTIONS={}
